In [1]:
import os

import pandas as pd
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [2]:
app = Flask(__name__)

In [3]:
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/db.sqlite"
db = SQLAlchemy(app)

/anaconda3/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
classes = Base.prepare(db.engine, reflect=True)

In [5]:
Base.classes.keys()

['female_math', 'female_reading', 'male_math', 'male_reading']

In [6]:
# Save references to each table
male_math = Base.classes.male_math
female_math = Base.classes.female_math
male_reading = Base.classes.male_reading
female_reading = Base.classes.female_reading

In [12]:
results = db.session.query(female_math.state).limit(10).all()
results

[('AK'),
 ('AL'),
 ('AR'),
 ('AZ'),
 ('CA'),
 ('CO'),
 ('CT'),
 ('DC'),
 ('DE'),
 ('FL')]

In [13]:
    stmt = db.session.query(female_math).statement
    df = pd.read_sql_query(stmt, db.session.bind)
    print(df)

      id state  gender  avg_2009_mathScores  avg_2017_mathScores  \
0      2    AK  Female           235.929342           230.461187
1      4    AL  Female           228.224749           231.878482
2      6    AR  Female           236.199533           232.664988
3      8    AZ  Female           229.686859           233.215046
4     10    CA  Female           230.676542           231.215506
5     12    CO  Female           242.269801           241.137297
6     14    CT  Female           242.961088           236.916650
7     16    DC  Female           220.567780           231.281780
8     18    DE  Female           237.751097           236.668776
9     20    FL  Female           241.337323           245.231570
10    22    GA  Female           235.546074           236.091366
11    24    HI  Female           236.130872           237.750739
12    26    IA  Female           241.844168           240.994006
13    28    ID  Female           240.130896           238.228900
14    30    IL  Female           236.905252           236.602813
15    32    IN  Female           242.229985           244.694534
16    34    KS  Female           244.387211           239.847327
17    36    KY  Female           237.567519           237.520277
18    38    LA  Female           228.689939           229.351408
19    40    MA  Female           251.082390           246.596569
20    42    MD  Female           243.346193           239.063346
21    44    ME  Female           242.271087           239.555995
22    46    MI  Female           234.952982           234.281208
23    48    MN  Female           247.556902           247.181057
24    50    MO  Female           240.093870           237.681580
25    52    MS  Female           227.854993           233.902171
26    54    MT  Female           241.664465           240.041406
27    56    NC  Female           243.579270           240.005833
28    58    ND  Female           243.515307           242.748856
29    60    NE  Female           238.739814           243.843420
..   ...   ...     ...                  ...                  ...
74   150    MI  Female           234.281208           234.952982
75   152    MN  Female           247.181057           247.556902
76   154    MO  Female           237.681580           240.093870
77   156    MS  Female           233.902171           227.854993
78   158    MT  Female           240.041406           241.664465
79   160    NC  Female           240.005833           243.579270
80   162    ND  Female           242.748856           243.515307
81   164    NE  Female           243.843420           238.739814
82   166    NH  Female           243.591762           249.865069
83   168    NJ  Female           247.415912           244.525138
84   170    NM  Female           228.959794           229.388171
85   172    NT  Female           238.594000           238.694420
86   174    NV  Female           231.282843           234.203997
87   176    NY  Female           233.422546           239.324708
88   178    OH  Female           240.429997           241.873945
89   180    OK  Female           235.862587           235.625152
90   182    OR  Female           231.043614           235.971756
91   184    PA  Female           239.979921           242.364825
92   186    RI  Female           236.947273           237.004820
93   188    SC  Female           233.128894           235.182813
94   190    SD  Female           239.369519           240.641636
95   192    TN  Female           236.416996           231.468040
96   194    TX  Female           240.832106           240.026227
97   196    UT  Female           240.310775           239.270713
98   198    VA  Female           245.472007           241.409086
99   200    VT  Female           240.443402           246.599426
100  202    WA  Female           240.087295           242.121621
101  204    WI  Female           238.982809           242.410069
102  206    WV  Female           235.582178           231.929539
103  208    WY  Female           246.067565           240.989582

     mathScores_precentChange
0                    5.468155
1                   -3.653733
2                    3.534545
3                   -3.528187
4                   -0.538964
5                    1.132504
6                    6.044438
7                  -10.714000
8                    1.082321
9                   -3.894247
10                  -0.545292
11                  -1.619867
12                   0.850162
13                   1.901996
14                   0.302439
15                  -2.464548
16                   4.539885
17                   0.047242
18                  -0.661469
19                   4.485821
20                   4.282847
21                   2.715091
22                   0.671773
23                   0.375845
24                   2.412290
25                  -6.047178
26                   1.623059
27                   3.573438
28                   0.766451
29                  -5.103605
..                        ...
74                  -0.671773
75                  -0.375845
76                  -2.412290
77                   6.047178
78                  -1.623059
79                  -3.573438
80                  -0.766451
81                   5.103605
82                  -6.273307
83                   2.890774
84                  -0.428378
85                  -0.100420
86                  -2.921154
87                  -5.902163
88                  -1.443948
89                   0.237435
90                  -4.928141
91                  -2.384904
92                  -0.057547
93                  -2.053919
94                  -1.272116
95                   4.948956
96                   0.805879
97                   1.040062
98                   4.062921
99                  -6.156024
100                 -2.034325
101                 -3.427260
102                  3.652639
103                  5.077983

[104 rows x 6 columns]

In [14]:
jsonify(df)

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.